
form {
    display: flex;
    flex-direction: column;

    img {
        width: 200px;
    }
    mat-form-field {
            width: 100%;
            border-radius: 3px;
    }
    button {
        padding: 1rem 3rem;
        background-color: #6a2c86;
        border-color: #6a2c86;
    }
}

.checkmark {
    display:inline-block;
    width: 32px;
    height: 32px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:20px;
    background-color:green;
    left: 16px;
    top: 1px;
}

.checkmark_kick {
    position: absolute;
    width: 8px;
    height:3px;
    background-color: green;
    left:8px;
    top:18px;
}