<!-- <div class="row h-100">
	<div class="col-12 h-100  d-flex align-items-center justify-content-center flex-column">
		<form class="text-center p-5" action="#!">
			<p class="h4 mb-4">Weryfikuj kupon</p>
			<input type="number" id="coupon" class="form-control mb-4" placeholder="Coupon">

			<mat-form-field>
				<input matInput type="number" id="coupon" class="form-control mb-4" placeholder="Coupon">
			</mat-form-field>
			<button mdbBtn color="info" outline="true" rounded="true" block="true" class="btn btn-primary z-depth-0 my-4 waves-effect" mdbWavesEffect
			type="submit">Zweryfikuj</button>
		</form>
	</div>
</div> -->

<div class="col-12">
	<form class="text-center p-5 w-100 d-flex align-items-center justify-content-center">
		<mat-form-field>
			<input matInput placeholder="Kod kuponu" type="text" name="kupon" class="form-control" [(ngModel)]="coupon">
		</mat-form-field>
		<!-- <button mat-button type="submitz">Click me!</button> -->

		<div class="d-flex">
			<button mat-button class="btn btn-primary z-depth-0 my-4 waves-effect mr-2" (click)="verifyCoupon()">Zweryfikuj</button>
			<button mat-button class="btn btn-primary z-depth-0 my-4 waves-effect" type="submit" (click)="checkCoupon()">Wyślij</button>
		</div>
	</form>
</div>
