.loader {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // .background {
    // }
    // mat-spinner {
    //     // background-color: rgba(0, 0, 0, .2);
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    // }
}
ul {
    // padding: 1rem;
    .nav-item {
        .nav-link {
            &.active {
                // padding: 1rem;
                color: lighten($color: #6a2c86, $amount: 20%);
                text-decoration: underline;
            }
        }
    }
}

img {
    width: 50px;
}
