<div class="container h-100">
    <div class="row" *ngIf="token">
        <div class="mt-4 col-12 d-flex align-items-center justify-content-between">

            <ul class="w-100 nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/check']" routerLinkActive="active">Strona główna</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/history']" routerLinkActive="active">Historia</a>
				</li>
            </ul>
            <div class="d-flex align-items-center">
                {{message | async}}
                <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="logout()">Wyloguj</button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="appMenu" class="menu-profile dropdown-toggle">
                    <!-- <mat-icon>more_vert</mat-icon> -->
                    <img src="assets/logo2_png.png" class="ml-4" alt="">
                </button>
            </div>
        </div>
    </div>
    <div class="row d-flex align-items-center justify-content-center">
        <!-- <nav class="d-flex justify-content-end">
            <div>
                <img src="assets/logo2_png.png" class="mb-5" alt="">
                <a href="javascript:void(0)">Wyloguj</a>
        </div>
        </!-->



        <router-outlet></router-outlet>
        <div class="loader" *ngIf="loading">
            <div class="background"></div>
            <mat-spinner></mat-spinner>
        </div>
   </div>
</div>